.join {
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100vh; /* Set the height to the full viewport height */
  justify-content: space-between; /* Distribute space between children */
}

.join span {
  color: white;
  font-family: Lato, sans-serif;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 36px;
  margin-bottom: 20px; /* Add margin below the span to create space */
}

.ul-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to start from the same position */
  padding: 32;
  margin: auto 0; /* Center the ul-box vertically */
}

.li-box {
  display: flex;
  align-items: center;
  list-style: none;
  margin-bottom: 8px;
  color: white;
  width: 100%; /* Ensure li-box takes the full width */
  margin-top: 0; /* Remove negative margin top */
  margin-bottom:-22px;
}

.li-box svg {
  margin-right: 10px; /* Add some space between the icon and text */
}

.li-box span {
  font-size: 15px;
  font-weight: normal;
  margin-left: 5px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; /* Add some space above the button */
}

.sign-btn {
  padding: 10px 100px;
  border-radius: 25px;
  border: none;
  font-weight: bolder;
  transition: all 0.3s ease-in-out;
  background: linear-gradient(
    to bottom,
    #fc3d6be6,
    #f53260e6 50%,
    #f7315fe6 75%
  );
  color: #fff;
}

@media (max-width: 1200px) {
  .sign-btn {
    padding: 10px 80px;
  }
}

@media (max-width: 900px) {
  .sign-btn {
    padding: 10px 60px;
  }
}

@media (max-width: 600px) {
  .sign-btn {
    padding: 10px 40px;
  }
}
